
# -----------------------------
# Virtual Enviroment 
# -----------------------------
.env 
venv/


# -----------------------------
# Django 
# -----------------------------

db.sqlite3 
staticfiles/
media/ 

